
body {
	width: 1260px;
	margin: 0 auto;

}

main {
	width: 100%;
	font-family: Arial;
}
.products {
	display: flex;
	justify-content: space-between;
}

.product-item {
	width: 24%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
    box-sizing: border-box;
    background: grey;
}

.title_product_item {
	
}

.price_product_item {

}

.img_product_item {
	display: block;
}

.btn-cart {
	margin: 0 0 20px 0;
}